body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  background-image: url(./d416199ca6ecdbd0f8a3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
