/* My style */

@mixin body-tags {
  margin-left: 10px;
  margin-right: 10px;
}

@mixin div-tags {
  margin-left: 15px;
  margin-right: 15px;
}

body {
  @include body-tags;
}

div {
  @include div-tags;
}
